/* .resume_container {
  margin: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.resume_left {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resume_left hr {
  border-top: 1px solid red;
  width: 200px;
}

.resume_right {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */
